@import "../../styles/variables";
@import "../../styles/mixins";

.side-bar{
    width: 200px;
    background-color: #269FB0;
    height: 100vh;
    position: fixed;
   
    .sidebar-links{
        height: 65vh; 
        margin-top: 55px;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        
         .sidebar-link{
             margin: auto;
             width: 100%;
             height: 60px;
             line-height: 60px;
        text-align: left;
        padding-left: 55px;
        color: white;
        font-size: 20px;

    }
    .sidebar-link:hover{
        cursor: pointer;
    }
    }
    .active-tab{
        background: $main-red;
    }
   
}

