@import "../../../../styles/_variables";
@import "../../../../styles/_mixins";

.nav-admin {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: rgb(240, 240, 240);
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  // position: fixed;
  // width: 100%;
  // z-index: 15;

  .navbar-left {
    .logo {
      font-size: 24px;
      color: white;
      font-weight: 700;
      margin-left: 50px;
      .logo-image {
        width: 100px;
        height: 75px;
      }
    }
  }
  .navbar-right {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      position: absolute;
      background-color: #fff;
      // min-width: 160px;
      // width: 100%;
      margin-left: -35px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
      z-index: 1;
      white-space: nowrap;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      // color: black;
      color: #89878a;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #f1f0f0;
      color: #269FB0;
    }
  }
}