.progress-report-view {

  .CircularProgressbar-text {
    font-weight: 700;
  }

  /*================================================
  React dropdown custom styles for this components specifically *important
  */
  .dropdownRoot {
    position: relative;
  }

  .Dropdown-control:hover {
    box-shadow: 0 0px 0 transparent;
  }

  .dropdownRoot .editFormHidden span {
    margin: -3px 0px 0px 1px; 
    display: none;
  }

  .dropdownRoot .editFormVisible span {
    margin: -3px 0px 0px 1px; 
    display: block;
  }

  .dropdownRoot .editFormVisible  {
    font-size: 14px;
    font-weight: 400;
    margin-left: -4px;
    border: 1px solid #dedbdb;
    width: 200px;
  }

  .dropdownRoot .editFormHidden {
    font-size: 14px;
    font-weight: 400;
    margin-left: -4px;
    border: 1px solid transparent;
    background-color: #FAFAFA;
    cursor: pointer;
  }

  .dropdownRoot .editFormHidden:hover {
    outline: none;
    border-bottom: 1px solid transparent;
  }

  .dropdown-menu {
    margin-left: -4px;
    background: #FAFAFA;
  }

  .dropdown-menu div {
    font-size: 14px;
  }

  /*================================================
  */

}