hr {
	width: calc(100% + 20px);
	margin-left: -10px;
	border: none;
	border-top-width: 1px;
	border-top-style: solid;
}
.top {
    margin-top: 100px;
     margin-left: 100px
}
.alignleft {
    text-align: left;
}