
.top {
    margin-top: 100px;
     margin-left: 100px
}
@media screen and (max-width: 920px) {
	.top {

		margin-top: 100px;
     margin-left: 10px
		}
	}
	.alignleft {
    text-align: left;
}
.alignleft0 {
	text-align: left;
position: relative;
left: 500px;
}

@media screen and (max-width: 920px) {
	.alignleft0 {
	text-align: left;
position: relative;
left: 10px;
}
}
.alignleft02 {
	text-align: left;
position: relative;
left: 0px;
}

@media screen and (max-width: 920px) {
	.alignleft02 {
	text-align: left;
position: relative;
left: 0px;
}
}
.alignleftgreen {
	color: green;
	text-align: left;
}
.leftperson {
	position: relative;
	 left: 0%;
	 top: -30px;
}
@media screen and (max-width: 920px) {
  .leftperson {
		position: relative;
		left: -30%;
		top: 200px;
 }
}
.leftaddress {
	position: relative;
	 top: 10px;
	 left: 18%;
}
@media screen and (max-width: 920px) {
	.leftaddress {
	position: relative;
	 top: 10px;
	 left: 8%;
	}
}
.leftroad {
	position: relative;
	top: -7px;
	 left: 38%;
	}
	@media screen and (max-width: 920px) {
		.leftroad {
		position: relative;
		top: -7px;
		 left: 28%;
	}
	}
	.leftbahrain {
		top: -10px;
		position: relative;
		 left: 38%;
	}
	@media screen and (max-width: 920px) {
		.leftbahrain {
		top: -10px;
		position: relative;
		 left: 28%;
		}
	}
	.leftphone {
		position: relative;
		 top: -4px;
			left: 18%;
		}
		@media screen and (max-width: 920px) {
			.leftphone {
			position: relative;
			 top: -4px;
				left: 8%;
			}
		}
		.leftphonenum {
	position: relative;
	 top: -22px;
	  left: 38%;
  }
  .leftschedule {
		position: relative;
		 top: -10px;
			left: 50%;
		}
		@media screen and (max-width: 920px) {
			.leftschedule {
			position: relative;
			 top: -10px;
				left: 40%;
			}
		}
		.persondiv {
		border: 1px solid #C73642;
		position: relative;
		left: 45%;
		top: -80px;
		width: 400px;
	}
	@media screen and (max-width: 920px) {
		.persondiv {
		border: 1px solid #C73642;
		position: relative;
		left: 0%;
		top: 180px;
		width: 300px;
	}
}
.instruct {
	position: relative;
	top: -140px;
}
  .buttonred {
	border-color: #C73642;
	 color: #C73642;
	  padding: #C73642;
  }
  .button1 {
		width: 40px;
		height: 40px;
		position: relative;
		left: -31%;
		top: -150px;
		background-color: #C73642;
		border-radius: 50%;
		color: yellow;
	}
	@media screen and (max-width: 920px) {
		.button1 {
		width: 40px;
		height: 40px;
		position: relative;
		left: -31%;
		top: 22px;
		background-color: #C73642;
		border-radius: 50%;
		color: yellow;
	}
}
.button2 {
	width: 40px;
	height: 40px;
	position: relative;
	top: -136px;
	left: -9%;
	background-color: #FFFFFF;
	border-radius: 50%;
	color: yellow;
	border-color: #C73642;
}
@media screen and (max-width: 920px) {
	.button2 {
	width: 40px;
	height: 40px;
	position: relative;
	top: 36px;
	left: -9%;
	background-color: #FFFFFF;
	border-radius: 50%;
	color: yellow;
	border-color: #C73642;
}
}
.button3 {
	width: 40px;
	height: 40px;
	position: relative;
	top: -136px;
	left: 12%;
	background-color: #FFFFFF;
	border-radius: 50%;
	color: yellow;
	border-color: #C73642;
}
@media screen and (max-width: 920px) {
	.button3 {
	width: 40px;
	height: 40px;
	position: relative;
	top: 36px;
	left: 12%;
	background-color: #FFFFFF;
	border-radius: 50%;
	color: yellow;
	border-color: #C73642;
}
}
.line1 {
	width: 48%;
	position: relative;
	top: -114px;
	left: 16%;
	border: 1px solid #C73642;
	transform: matrix(1, 0, 0, 1, 0, 0);
}
@media screen and (max-width: 920px) {
	.line1 {
	width: 70%;
	position: relative;
	top: 60px;
	left: 6%;
	border: 1px solid #C73642;
	transform: matrix(1, 0, 0, 1, 0, 0);
}
}
.buttonlabel1 {
	position: relative;
	top: -150px;
	left: -34%;
	font-size: 10px;
}
@media screen and (max-width: 920px) {
	.buttonlabel1 {
	position: relative;
	top: 20px;
	left: -38%;
	font-size: 10px;
}
}
.buttonlabel2 {
	position: relative;
	top: -170px;
	left: -9%;
	font-size: 10px;
}
@media screen and (max-width: 920px) {
	.buttonlabel2 {
	position: relative;
	top: 2px;
	left: -9%;
	font-size: 10px;
}
}
.buttonlabel3 {
	position: relative;
	top: -190px;
	left: 15%;
	font-size: 10px;
}
@media screen and (max-width: 920px) {
	.buttonlabel3 {
	position: relative;
	top: -16px;
	left: 22%;
	font-size: 10px;
}
}
.your {
	position: relative;
	top: -150px;
	left: -30%;
	color: green;	
}
@media screen and (max-width: 920px) {
	.your {
	position: relative;
	top: 0px;
	left: -8%;
	color: green;	
}
}
.formdata {
	position: relative;
	top: -130px;
}
@media screen and (max-width: 920px) {
	.formdata {
		position: relative;
		top: 0px;
		}
}

profile-pic {
  float: left;
  width: 250px;
}
@media screen and (max-width: 320px) {
  .profile-pic {
    width: 100px;
    float: none;
  }
}
@media screen and (min-width: 1200px) {
  .profile-pic {
    float: right;
  }
}
