
.top {
    margin-top: 100px;
     margin-left: 100px
}
.alignleft {
    text-align: left;
}
.alignleftgreen {
	color: green;
	text-align: left;
}
.leftperson {
	position: relative;
	 left: 0%;
	 top: -30px;
}
.leftaddress {
	position: relative;
	 top: 10px;
	 left: 18%;
}
.leftroad {
	position: relative;
	top: -7px;
	 left: 38%;
}
.leftbahrain {
	top: -10px;
	position: relative;
	 left: 38%;
}
.leftphone {
	position: relative;
	 top: -4px;
	  left: 18%;
  }
  .leftphonenum {
	position: relative;
	 top: -22px;
	  left: 38%;
  }
  .leftschedule {
	position: relative;
	 top: -10px;
	  left: 50%;
  }
  .persondiv {
	border: 1px solid #C73642;
	position: relative;
	left: 45%;
	top: -80px;
	width: 400px;
}
.instruct {
	position: relative;
	top: -140px;
}
  .buttonred {
	border-color: #C73642;
	 color: #C73642;
	  padding: #C73642;
  }
  .button1 {
	width: 40px;
	height: 40px;
	position: relative;
	left: -31%;
	top: -150px;
	background-color: #C73642;
	border-radius: 50%;
	color: yellow;
}
.button2 {
	width: 40px;
	height: 40px;
	position: relative;
	top: -136px;
	left: -9%;
	background-color: #FFFFFF;
	border-radius: 50%;
	color: yellow;
	border-color: #C73642;
}
.button3 {
	width: 40px;
	height: 40px;
	position: relative;
	top: -136px;
	left: 12%;
	background-color: #FFFFFF;
	border-radius: 50%;
	color: yellow;
	border-color: #C73642;
}
.line1 {
	width: 54%;
	position: relative;
	top: -114px;
	left: 14%;
	border: 1px solid #C73642;
	transform: matrix(1, 0, 0, 1, 0, 0);
}
.buttonlabel1 {
	position: relative;
	top: -150px;
	left: -34%;
	font-size: 10px;
}
.buttonlabel2 {
	position: relative;
	top: -170px;
	left: -9%;
	font-size: 10px;
}
.buttonlabel3 {
	position: relative;
	top: -190px;
	left: 15%;
	font-size: 10px;
}
.your {
	position: relative;
	top: -150px;
	left: -30%;
	color: green;	
}
.formdata {
	position: relative;
	top: -130px;
}

profile-pic {
  float: left;
  width: 250px;
}
@media screen and (max-width: 320px) {
  .profile-pic {
    width: 100px;
    float: none;
  }
}
@media screen and (min-width: 1200px) {
  .profile-pic {
    float: right;
  }
}
