@import "../../styles/variables";
@import "../../styles/mixins";


.rowHover tr {
    cursor: pointer;
  }
  
  .row-above {
    display: flex;
    justify-content: space-between;
    margin: 30px 15px 15px 15px;
    .row-above-input {
      outline: none;
      border-radius: 3px;
      border: 1px solid transparent;
      background: #F6F8FB;
      width: 400px;
      height: 26px;
    }
    .create-new-entry {
      display: flex;
      align-items: center;
    }
  }
  
  